@{
    ViewBag.Title = "Registrate";
    Layout = null;
}


<html>
<head>
    @Styles.Render("~/Content/css")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mobimarket managament system</title>

    <script>
        function submitForm() {
            console.log('enter submit form!');
            var lastName = $("#LastName");
            var firstName = $("#FirstName");
            var middletName = $("#MiddleName");

            var mail = $("#Email");
            var passWord = $("#Password");
            var confirmPassword = $("#ConfirmPassword");
            var imageUpload = $("#imageUpload");

            console.log(lastName.val());
            if (firstName.val() == "" ||
                middletName.val() == "" ||
                mail.val() == "" ||
                passWord.val() == "" ||
                confirmPassword.val() == "") {
                $("#information").text('Fill in all fields');
                $("#info").show();
                return;
            }

            console.log(passWord.val());
            console.log(confirmPassword.val());

            if (confirmPassword.val() != passWord.val()) {
                $("#information").innerHTML = 'Passwords are not equal';
                $("#info").show();
            }
            else {
                $("#main_form").submit();
            }
        }
    </script>


    @*<!-- Bootstrap Core CSS -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="~/Content/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="~/Content/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">*@


</head>

<body style="background-color:white">



    <div class="panel-heading">
        <h3 class="panel-title" style="margin-left:20%">Please Registrate</h3>
    </div>

    <br />
    <br />

    <div class="container">
        <div id="info" style="display: none" class="alert alert-danger">
            <span id="information"></span>
        </div>

        <form role="form" id="main_form" action="@Url.Action("ManageRegistration", "Owner")" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="control-label col-md-2" for="LastName">Last Name</label>
                    <div class="col-md-2">
                        <input class="form-control" id="LastName" name="LastName" type="text" placeholder="Last Name" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="FirstName">First Name</label>
                    <div class="col-md-2">
                        <input class="form-control" id="FirstName" name="FirstName" type="text" placeholder="First Name" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="MiddleName">Middle Name</label>
                    <div class="col-md-2">
                        <input class="form-control" id="MiddleName" name="MiddleName" type="text" placeholder="Middle Name" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Email">Email</label>
                    <div class="col-md-2">
                        <input class="form-control" id="Email" name="Email" type="text" placeholder="Email" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Password">Password</label>
                    <div class="col-md-2">
                        <input class="form-control" id="Password" name="Password" type="password" placeholder="Password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Password">Confirm Password</label>
                    <div class="col-md-2">
                        <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm Password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="BirthDay">Birth Day</label>
                    <div class="col-md-2">
                        <input class="form-control" id="BirthDay" style="width:170px" name="BirthDay" type="date" placeholder="Birth Day" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Изображение</label>
                    <div class="col-md-2">
                        <input id="imageUpload" accept="image/*" name="imageUpload" type="file" />
                    </div>
                </div>
            </div>

            <input type="button" onclick="submitForm()" style="margin-left:17%" value="Registrate" />
        </form>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

</body>
</html>